{% load staticfiles %}
<div class="ui raised segment">
        <h2 class="ui header">
            <i class="feed icon"></i>
            <div class="content">
                Objetivos do Projeto
            </div>
        </h2>





        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header">Agilidade</a>
                    <div class="description">
                        <p>
                            A porta automatica vai proporcina mais faclidade e agilidade para nossos
                            clientes, com facilidade de se  cadastrar e um mecanismo de porta rapida, com apenas um click ou apenas
                            um cartao RFDI você podera entrar no ambinete que deseja.
                        </p>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header">Segunraça</a>
                    <div class="description">
                        <p> A porta automatica foi desenvolvida com  inumeros testes das diversas formas,
                        para a maior segurança de nossos clientes.</p>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui items">
            <div class="item">
                <a class="ui small image">

                </a>
                <div class="content">
                    <a class="header">Praticidade</a>
                    <div class="description">
                        <p> O sistema da porta automatica traz praticidade, por causa de sua comodidade e faclidade de uma pessoa
                            se cadastrar e utilizar a porta automatica</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
